.inner {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.small-wrap{
    width: 1200px;
}


.header{
    width:100%;
    height:80px;
    padding-bottom:7px;
    position:fixed;
    top:0;
    left:0;
    background:#fff;
}

.logo{
    position:absolute;
    top:0;
    left: 100px;
    margin-left:250px;
}

.br-menu-l{
    float: left;
    margin-top: 30px;

}
.br-menu-heading{
    float: left;
    margin-left: 500px ;
    margin-top: 45px ;
}

.br-menu-r{
    float: right;
    margin-top: 30px;
}



.nav{
    width: 1200px;
    margin: 0 auto;
    float: right;
    left: 30pt;
}


.gnb {
    float: right;
    margin: 30px;
}

.gnb-depth1-item{
    display: block;
    float: left;
    margin-left: 50px;

}

.gnb-depth1-link{
    display:block;
    height:50px;
    font-size:17px;
    font-weight: bold;
    text-align:center;
    line-height:36px;

}

.gnb-depth2{
    width:198px;
    padding:5px 0;
    position:absolute;
}

.gnb-depth2-link {
    display: block;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #999;
}



.visual {
    display: block;
    height: 600px;
    text-indent: -99999em;
    background: #f0eb1d url(../mobis/images/visual0.jpg) no-repeat 50% 50%;
}



.mincon2{
    width: 100%;
    margin: 60px auto;
    padding: 38px 0 0;
    height: 346px;
    overflow: hidden;
    background: #f7f7f7;
}

.small-wrap{
    width: 946px;
    height: 255px;
}

.mincon2-heading{
    width:87px;
    height:14px;
    text-indent:-99999em;
    background:url(images/mCsr_tit.png) no-repeat;
    margin:100px auto 50px;
}


.mincon2-list{
    width: 1897pt;
    height: 200pt;
}

.mincon2-list:after{
    content:"";
    display:block;
    clear:both;
}

.mincon2-list-item{
    float:left;
    margin-right:0px;
    width:200px;
}

.event-list-item.last{
    margin-right:0;
}


.footer{
    width: 1897px;
    height: 130px;
    background: #555;
}

.footer-text{

}