/*
  웹페이지 전체 가로 길이:1200px
  브라우저 가운데 정렬
  header 세로길이:100px
  lnb 가로길이 :250px
  lnb 와 contents 사이의 여백:50px
  footer의 세로 길이:300px
*/

.wrap{
  width: 1200px;
  margin:0 auto;
}

.header{
  height: 100px;
  background-color: palevioletred;
  margin-bottom: 20px ;
}

.container{
  height:800px
}

.lnb{
  width: 250px;
  height:400px;
  margin-right: 20px ;
  background-color: olivedrab;
  float: left;
}

.contents{
  width: 930px;
  height: 800px;
  background-color:lightsteelblue;
  float: right;
}

.footer{
  height: 300px;
  background-color: darkcyan;
  margin-top:20px;
  clear: both;
}

